/* fonts */
/* for <h1> to <h6> */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=Racing+Sans+One);
@import url(http://fonts.googleapis.com/css?family=Biryani);
@import url(http://fonts.googleapis.com/css?family=Candal);


#head1{
 font-family: 'Racing Sans One', cursive;
}
#head2{
 font-family: 'Oswald', sans-serif;
}
#head3{
 font-family: 'Dosis', sans-serif;
 color: #AAA;
 font-weight: bolder;
}

.hcolor{
  color:orange;
}

/* for <p> */
@import url(http://fonts.googleapis.com/css?family=Lato);
#p1{
	font-family: 'Lato', sans-serif;
}

.underline{
	border-bottom: 1px solid #aaa;
	padding-bottom: 5px;
}



/* end-font */


.navbar-default{
	background-color: transparent;
}



/* header */

#logo{
	color:orange;
	border-right:4px solid #AAA; 
	padding-right:15px;
}
#nametag{
	color: #222;
	font-family: 'Candal', sans-serif;
}
#nameposition{
	margin-left: -22px;
	margin-top: -18px;
}
#nameposition > p {
	border-top:1px solid #222;
	margin-top:-5px;
	color: #222;
	font-weight:bolder;
}


.navbar-toggle{
  border-color: orange !important; 
}
	.navbar-toggle > span {
		background-color: orange !important;
	}


#background-head{
    background-color: #DDD;
    background-image: url("../img/body_bg.jpg");
}

#form-search > div > input[type=text]{
	border-radius: 0px;
	border:4px solid orange;
	border-right: 0px;
	height: 52px;
}

#form-search > div > div > button{
	border:4px solid orange;
	padding-bottom: -2px;
	border-left: 0px;
}


#main-menu > ul > li {
	line-height: 50px;
}
#main-menu > ul > li:nth-child(odd) {
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
}

#main-menu > ul > li:first-child{
	border-left: 0px;
}
#main-menu > ul > li:last-child{
	border-right: 0px;
}

#main-menu > ul > li > a {
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
	background-color: #222;
	transition: 1s ease;
	transition-property: background-color, color;
	color:#FFF;
	font-size: 16px;
}
#main-menu > ul > li > a:hover {
	background-color: orange;
	color:#FFF;
}

/* end-header */

/* body */

#box{
  background-color: #DDD;
  padding-bottom: 80px;
  background-image: url("../img/body_bg.jpg");
}

#content{
  padding-left: 30px;
  padding-right: 30px;
}

#contact-form > input,textarea{
  margin-top: 10px;
  border-radius:0px !important;
}

#contact-form > input{
    height: 70px;
}
#contact-form > textarea{
  height: 200px;
}
#contact-form > input[type=submit]{
  width: 20%;
  transition:background-color 0.6s ease;
  color: #222;
  text-transform: uppercase;
  font-weight: bolder;
}


/* end-body */


/* footer */

#footer{
  background-color: #222;
}

#foot{
  height: 200px;
  padding-top: 20px;
  padding-bottom: 50px;
}

#foot > div > div {
	text-align: center;
	color: #FFF;
}
#foot > div > div:nth-child(2){
	border-left: 1px solid orange;
	border-right: 1px solid orange;
}

#foot > div > div > h1 > a , #foot > div > div > a > i{
	color: #FFF;
}


/* end-footer */

/* under XTRA SMALL*/
@media (max-width: 625px) { 

   #nameposition{
	margin-left: 10px !important;
	margin-top: -18px;
	padding-bottom: 20px;
   }

   .navbar-header{
   	 margin-top: -20px;
   	 margin-right: 0px !important;
   	 margin-bottom: 10px;
   }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 625px) and (max-width: 768px) { 

	#nameposition{
	margin-left: -25px !important;
	margin-top: -18px;
	padding-bottom: 20px;
   }

   .navbar-header{
   	 margin-top: -20px;
   	 margin-right: 0px !important;
   	 margin-bottom: 10px;
   }

   #main-menu > ul > li{
   	border: 0px solid #000 !important;
   }

   #box-top{
   	padding-bottom: 40px;
   }
   #box-top > #welcome {
   	 margin-bottom: 10px;
   }
    #box-right{
   	padding-left: 0px;
   }
   #box-pic > img {
   	width: 100%;
   }

   #recent > div {
   	 margin-bottom: 40px;
   }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) and (max-width: 992px) { 

	#nameposition{
	margin-left: 25px !important;
   }

   #box-top{
   	padding-bottom: 40px;
   }
   #box-top > #welcome {
   	 margin-bottom: 10px;
   }

   #box-right{
   	padding-left: 0px;
   }
   #box-pic > img {
   	width: 100%;
   }
}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
	#nameposition{
	margin-left: 0px;
	margin-top: -18px;
   }


}


